body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    font-family: 'Tomorrow', cursive;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 260px;
    height: 330px;
    border: 5px solid black;
    border-radius: 50px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    line-height: 0;
    margin: 5px 0px;
    background-image: url(https://img.freepik.com/premium-photo/abstract-gradient-circles-mobile-wallpaper_53876-1120889.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    background-position: center;
    color: #A8F7FF;
}

.time, .date, .day {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

#ampm{
    font-size: 1rem;
    padding-left: 0.3rem;
}

#date{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.time{
    font-size: 2rem;
}

.day{
    font-size: 1rem;
    font-weight: 500;
}

.date-day{
    display: flex;
    margin: auto;
    gap: 3%;
    justify-content: center;
    align-items: center;
    color: #d9f0f3;
}

#ampm{
    color: white;
}
